@charset "utf-8";

@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
}

input:focus {
  outline: none;
}

body {
  background: pink;
}

main {
  width: 100%;
}

.common-wrap {
  width: 100%;
  padding: 5rem 20px;
}

.inner-wrap {
  position: relative;
  width: 64.0625rem;
  min-width: 64.0625rem;
  background-color: #f5f5dc;
  padding: 50px 20px;
  margin: 0 auto;
  min-height: 31.25rem;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 3.625rem;
  font-weight: 700;
}

h3 {
  font-family: "Ownglyph_ParkDaHyun";
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.bottom-text-wrap {
  margin: 0 auto;
  width: 48rem;
  min-height: 400px;
}

.top-layout {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  width: calc(100% - 100px);
}

.input-wrap input {
  width: 100%;
  height: 40px;
  border: 0;
  padding: 10px;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.btn-wrap button {
  padding: 1.25rem;
  height: 1.875rem;
  border-radius: 10px;
  font-family: "EliceDigitalBaeum_Bold";
  display: flex;
  align-items: center;
  border: 0;
}

.add-btn {
  background: #fff;
  border: 2px solid #fff;
  padding: 1.25rem;
  height: 1.875rem;
  border-radius: 10px;
  font-family: "EliceDigitalBaeum_Bold";
  display: flex;
  align-items: center;
  border: 0;
}

.add-btn:hover {
  background: #2a65a8;
  color: #fff;
}
.filter-btn {
  background: #e6e6e6;
  color: #234055;
}

.filter-btn:hover {
  color: #fff;
  background: #234055;
}

.mode-btn {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mode-btn img {
  width: 15px;
  height: 15px;
}

.add-input {
  margin-top: 20px;
}

.input-label-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.input-label-item input {
  border: 0;
  border-bottom: 2px solid transparent;
  height: 3.125rem;
  padding: 0.625rem 0.625rem 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.input-label-item input::placeholder {
  font-size: 1rem;
  line-height: 3.125rem;
  color: #d9d9d9;
}

.input-label-item input:focus {
  border-bottom: 2px solid #000;
}

.mb-16 {
  margin-bottom: 16px;
}

.empty-text {
  color: #234055;
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  text-align: center;
  font-family: "Ownglyph_ParkDaHyun";
  font-weight: 500;
  margin-top: 100px;
}

/* 할일 리스트 */
.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 16px;
}

.left-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.left-item input {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.work-text {
  font-size: 1.25rem;
  line-height: 2.1875rem;
  font-family: "Pretendard-Regular";
  font-family: "Ownglyph_ParkDaHyun";
}

.checked {
  text-decoration: line-through;
}

/* add모달 */
.edit-modal {
  width: calc(100% - 60px);
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  background: #fff;
  padding: 20px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.modal-inner {
  width: 80%;
}

.edit-modal input {
  height: 40px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000;
  margin-top: 20px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

.edit-btn,
.save-btn {
  width: fit-content;
  min-width: 50px;
  height: 30px;
  font-size: 1rem;
  line-height: 30px;
  font-family: "Ownglyph_ParkDaHyun";
  font-weight: 500;
  color: #2a65a8;
  background: transparent;
  border-radius: 8px;
}

.delete {
  color: #f00;
}

.delete-btn:hover {
  background: rgba(244, 64, 64, 0.3);
}

@media screen and (max-width: 1280px) {
  .inner-wrap {
    width: 100%;
    min-width: 100%;
  }

  .bottom-text-wrap {
    width: 100%;
  }
}
